{{if exists "/sensu"}}
filter {
  mutate {
    add_field => {
      "sensu" => '{{getv "/sensu"}}'
    }
  }
}
{{end}}
{
  "rabbitmq": {
    "host": "{{getv "/rabbitmq/host"}}",
    "port": {{getv "/rabbitmq/port"}},
    "vhost": "{{getv "/rabbitmq/vhost"}}",
    "user": "{{getv "/rabbitmq/user"}}",
    "password": "{{getv "/rabbitmq/password"}}"
  },
  "redis": {
    "host": "{{getv "/redis/host"}}",
    "port": {{getv "/redis/port"}}
  },
{{if exists "/handlers/pagerduty/apikey"}}
  "pagerduty": {
    "api_key": "{{ getv "/handlers/pagerduty/apikey" }}"
  },
{{end}}
  "handlers": {
    "default": {
      "type": "set",
      "handlers": [
        "stdout"
      ]
    },
{{if exists "/handlers/pagerduty/apikey" }}
    "pagerduty": {
      "command": "/opt/sensu/embedded/bin/handler-pagerduty.rb",
      "type": "pipe",
      "severities": [
        "critical",
        "ok"
      ]
    },
{{end}}
    "stdout": {
      "type": "pipe",
      "command": "cat"
    }
  }
}

