{{if exists "/sensu"}}
filter {
  mutate {
    add_field => {
      "sensu" => '{{getv "/sensu"}}'
    }
  }
}
{{end}}
{
  "rabbitmq": {
    "host": "{{getv "/rabbitmq/host"}}",
    "port": {{getv "/rabbitmq/port"}},
    "vhost": "{{getv "/rabbitmq/vhost"}}",
    "user": "{{getv "/rabbitmq/user"}}",
    "password": "{{getv "/rabbitmq/password"}}"
  },
  "redis": {
    "host": "{{getv "/redis/host"}}",
    "port": {{getv "/redis/port"}}
  } 
}
