{
  "rabbitmq": {
    "host": "{{getv "/rabbitmq/host"}}",
    "port": {{getv "/rabbitmq/port"}},
    "vhost": "{{getv "/rabbitmq/vhost"}}",
    "user": "{{getv "/rabbitmq/user"}}",
    "password": "{{getv "/rabbitmq/password"}}"
  },
  "redis": {
    "host": "{{getv "/redis/host"}}",
    "port": {{getv "/redis/port"}}
  },
  "api": {
    "host": "{{getv "/api/host"}}",
    "port": {{getv "/api/port"}}
  },
  "handlers": {
    "default": {
      "type": "set",
      "handlers": [
{{if exists "/handler/pagerduty/apikey" }}
        "pagerduty",
{{end}}
{{if exists "/handler/slack/webhookurl" }}
        "slack",
{{end}}
{{if exists "/handler/sns/topicarn" }}
        "sns",
{{end}}
        "stdout"
      ]
    },
    "stdout": {
      "type": "pipe",
      "command": "cat"
    }
  }
}
