# Standard debug and log level
debug = False
log_level = "INFO"

# Whether to print the entire stack trace for errors encountered
# when loading the config file
full_trace = False

# Basic metricsd conifguration
metricsd_ip = "127.0.0.1"
metricsd_port = 23632
metricsd_enabled = False

# The default interval between flushes of metric data to Graphite
metricsd_default_interval = 10.0

# You can specify the frequency of flushes to Graphite based on
# the metric name used for each metric. These are specified as
# regular expressions. An entry in this list should be a 3-tuple
# that is: (regexp, frequency, priority)
#
# The regexp is applied with the match method. Frequency should be
# in seconds. Priority is used to break ties when a metric name
# matches more than one handler. (The largest priority wins)
metricsd_handlers = []

# Basic collectd configuration
collectd_ip = "0.0.0.0"
collectd_port = 25826
collectd_enabled = True

# A list of file names for collectd types.db
# files.
collectd_types = []

# A mapping of plugin names to converter callables. These are
# explained in more detail in the README.
collectd_converters = {}

# Whether to load converters from entry points. The entry point
# used to define converters is 'bucky.collectd.converters'.
collectd_use_entry_points = True

# If a collectd metric is received with a value of type counter when
# our types.db define it as derive, or vice versa, don't raise an
# exception and assume the server's types.db is correct.
# Types counter and derive are very similar. Also, it's common
# for different versions/installations of collectd in 'clients'
# to have a bit different definitions for the same metrics
# (counter/derive conflict).
collectd_counter_eq_derive = False

# CollectD server can also run using multiple worker subprocesses.
# Incoming packets are routed to workers based on source IP.
collectd_workers = 1

# Cryptographic settings for collectd. Security level 1 requires
# signed packets, level 2 requires encrypted communication.
# Auth file should contain lines in the form 'user: password'
collectd_security_level = 0
collectd_auth_file = None

# Basic statsd configuration
statsd_ip = "0.0.0.0"
statsd_port = 8125
statsd_enabled = True

# How often stats should be flushed to Graphite.
statsd_flush_time = 10.0

# If the legacy namespace is enabled, the statsd backend uses the
# default prefixes except for counters, which are stored directly
# in stats.NAME for the rate and stats_counts.NAME for the
# absolute count.  If legacy names are disabled, the prefixes are
# configurable, and counters are stored under
# stats.counters.{rate,count} by default.  Any prefix can be set
# to None to skip it.
statsd_legacy_namespace = False
statsd_global_prefix = "statsd"
statsd_prefix_counter = "counters"
statsd_prefix_timer = "timers"
statsd_prefix_gauge = "gauges"

# Basic Graphite configuration
graphite_ip = "{{getv "/graphite"}}"
graphite_port = 2003

# If the Graphite connection fails these numbers define how it
# will reconnect. The max reconnects applies each time a
# disconnect is encountered and the reconnect delay is the time
# in seconds between connection attempts. Setting max reconnects
# to a negative number removes the limit. The backoff factor
# determines how much the reconnect delay will be multiplied with
# each reconnect round. It can be limited with a maximum after which
# the delay will not be multiplied anymore.
graphite_max_reconnects = 3
graphite_reconnect_delay = 5
graphite_backoff_factor = 1.5
graphite_backoff_max = 60

# Configuration for sending metrics to Graphite via the pickle
# interface. Be sure to edit graphite_port to match the settings
# on your Graphite cache/relay.
graphite_pickle_enabled = False
graphite_pickle_buffer_size = 500

# Bucky provides these settings to allow the system wide
# configuration of how metric names are processed before
# sending to Graphite.
#
# Prefix and postfix allow to tag all values with some value.
{{if exists "/namespace"}}
name_prefix = "ns.{{getv "/namespace"}}"
{{else}}
name_prefix = "ns.default"
{{end}}

name_postfix = None

# The replacement character is used to munge any '.' characters
# in name components because it is special to Graphite. Setting
# this to None will prevent this step.
name_replace_char = None

# Optionally strip duplicates in path components. For instance
# a.a.b.c.c.b would be rewritten as a.b.c.b
name_strip_duplicates = True

# Bucky reverses hostname components to improve the locality
# of metric values in Graphite. For instance, "node.company.tld"
# would be rewritten as "tld.company.node". This setting allows
# for the specification of hostname components that should
# be stripped from hostnames. For instance, if "company.tld"
# were specified, the previous example would end up as "node".
name_host_trim = []

# processor is a callable that takes a (host, name, val, time)
# tuple as input and is expected to return a tuple of the same
# structure to forward the sample to the clients, or None to
# drop it. processor_drop_on_error specifies if the sample is
# dropped or forwarded to clients in case an exception is
# raised by the processor callable.
processor = None
processor_drop_on_error = False
