dockbeat:
  period: {{ getv "/beats/dockbeat/period" }}
  socket: {{ getv "/beats/dockbeat/socket" }}
  {{ if exists "/beats/dockbeat/tls"}}
  tls:
    enable: {{ getv "/beats/dockbeat/tls" }}
    ca_path: {{ getv "/beats/dockbeat/capath" }}
    cert_path: {{ getv "/beats/dockbeat/certpath" }}
    key_path: {{ getv "/beats/dockbeat/keypath" }}#
  {{ end }}

  stats:
    container: true
    net: true
    memory: true
    blkio: true
    cpu: true

output:
  elasticsearch:
    hosts: ["{{ getv "/beats/dockbeat/monitoring/host" }}"]
    protocol: "{{ getv "/beats/dockbeat/monitoring/protocol" }}"

logging:
  to_syslog: true
  to_files: true

  # To enable logging to files, to_files option has to be set to true
  files:
    path: /var/log/beats
    name: dockbeat

    # Configure log file size limit. If limit is reached, log file will be
    # automatically rotated
    rotateeverybytes: 10485760 # = 10MB

    # Number of rotated log files to keep. Oldest files will be deleted first.
    keepfiles: 7

  # Enable debug output for selected components. To enable all selectors use ["*"]
  # Other available selectors are beat, publish, service
  # Multiple selectors can be chained.
  selectors: ["*"]

  # Sets log level. The default log level is error.
  # Available log levels are: critical, error, warning, info, debug
  level: debug

