{
  "api": {
    "port": 4567,
    "user": "{{ getv "/api/user" }}",
    "password": "{{ getv "/api/password" }}",
    "host": "0.0.0.0",
    "bind": "0.0.0.0"
  },
  "redis": {
    "host": "{{ getv "/redis/host" }}",
    "port": {{ getv "/redis/port" }},
    "db": {{ getv "/redis/db" }}
  }
}
