{
  "rabbitmq": {
    {{ if exists "/rabbitmq/ssl" }}
    "ssl": {
      "cert_chain_file": {{getv "/rabbitmq/ssl/chain"}},
      "private_key_file": {{getv "/rabbitmq/ssl/privkey"}}
    },
    {{ end }}
    "port": {{getv "/rabbitmq/port"}},
    "host": "{{getv "/rabbitmq/host"}}",
    "vhost": "{{getv "/rabbitmq/vhost"}}",
    "user": "{{getv "/rabbitmq/user"}}",
    "password": "{{getv "/rabbitmq/password"}}"
  }
}