# 100_input_syslog
input {
    tcp {
        port => 2514
        type => syslog
        codec => multiline {
            pattern => "^\s"
            what => "previous"
        }
    }
    udp {
        port => 2514
        type => syslog
        codec => multiline {
            pattern => "^\s"
            what => "previous"
        }
    }
    redis {
        host => 'redis'
        data_type => list
        key => 'logstash'
        type => 'logstash'
    }
    beats {
      port => 5044
    }
}

# 200_filter_all
#filter {

#}

# 900_output_elasticsearch
output {
    elasticsearch {
        hosts => [
          {{if exists "/opg/logstash/elasticsearch/hostport" }}"{{ getv "/opg/logstash/elasticsearch/hostport" }}"{{else}}"elasticsearch:9200"{{end}}
        ]
        ssl => {{if exists "/opg/logstash/elasticsearch/ssl/enabled" }}{{ getv "/opg/logstash/elasticsearch/ssl/enabled" }}{{else}}false{{end}}
        ssl_certificate_verification => {{if exists "/opg/logstash/elasticsearch/ssl/certificate/verification" }}{{ getv "/opg/logstash/elasticsearch/ssl/certificate/verification" }}{{else}}false{{end}}
    }
    stdout { codec => rubydebug }
}
