{
  "checks": {
{{ range lsdir "/sensu/client/checks/role" }}
    "{{ getv (printf "/sensu/client/checks/role/%s/name" .) }}": {
      "command": "{{ getv (printf "/sensu/client/checks/role/%s/command" .) }}",
      "standalone": true,
      "subscribers": [ {{ if exists (printf "/sensu/client/checks/role/%s/subscribers" .) }}{{ getv (printf "/sensu/client/checks/role/%s/subscribers" .) }}{{ else }}"all"{{ end }} ],
{{ if exists (printf "/sensu/client/checks/role/%s/subduebegin" .) }}
      "subdue": {
        "begin": "{{ getv (printf "/sensu/client/checks/role/%s/subduebegin" .) }}",
{{ else }}
    {{ if exists "/sensu/client/checks/role/subduebegin" }}
      "subdue": {
        "begin": "{{ getv "/sensu/client/checks/role/subduebegin" }}",
    {{ end }}
{{ end }}
{{ if exists (printf "/sensu/client/checks/role/%s/subdueend" .) }}
        "end": "{{ getv (printf "/sensu/client/checks/role/%s/subdueend" .) }}"
      },
  {{ else }}
    {{ if exists "/sensu/client/checks/role/subdueend" }}
        "end": "{{ getv "/sensu/client/checks/role/subdueend" }}"
      },
    {{ end }}
{{ end }}
      "interval": {{ if exists (printf "/sensu/client/checks/role/%s/interval" .) }}{{ getv (printf "/sensu/client/checks/role/%s/interval" .) }}{{ else }}60{{ end }}
    },
{{ end }}
    "role_true": {
      "command": "/bin/true",
      "type": "standard",
      "standalone": true,
      "subscribers": [ "all" ],
      "interval": 600,
      "handle": "false"
    }
  }
}
