{
  "checks": {
{{ range lsdir "/sensu/client/checks/role" }}
    "{{ getv (printf "/sensu/client/checks/role/%s/name" .) }}": {
      "command": "{{ getv (printf "/sensu/client/checks/role/%s/command" .) }}",
      "standalone": true,
      "subscribers": [ "{{ getv (printf "/sensu/client/checks/role/%s/subscribers" .) }}" ],
      "interval": {{ getv (printf "/sensu/client/checks/role/%s/interval" .) }}
    },
{{ end }}
    "role_true": {
      "command": "/bin/true",
      "type": "standard",
      "standalone": true,
      "subscribers": [ "all" ],
      "interval": 600,
      "handle": "false"
    }
  }
}
