{
  "checks": {
{{ range lsdir "/sensu/client/checks/base" }}
    "{{ getv (printf "/sensu/client/checks/base/%s/name" .) }}": {
      "command": "{{ getv (printf "/sensu/client/checks/base/%s/command" .) }}",
      "standalone": true,
      "subscribers": [ {{ if exists (printf "/sensu/client/checks/base/%s/subscribers" .) }}{{ getv (printf "/sensu/client/checks/base/%s/subscribers" .) }}{{ else }}"all"{{ end }} ],
      "subdue": {
{{ if exists (printf "/sensu/client/checks/base/%s/subduebegin" .) }}
        "begin": "{{ getv (printf "/sensu/client/checks/base/%s/subduebegin" .) }}",
{{ else }}
    {{ if exists "/sensu/client/checks/base/subduebegin" }}
        "begin": "{{ getv "/sensu/client/checks/base/subduebegin" }}",
    {{ else }}
        "begin": "6PM UTC",
    {{ end }}
{{ end }}
{{ if exists (printf "/sensu/client/checks/base/%s/subdueend" .) }}
        "end": "{{ getv (printf "/sensu/client/checks/base/%s/subdueend" .) }}"
  {{ else }}
    {{ if exists "/sensu/client/checks/base/subdueend" }}
        "end": "{{ getv "/sensu/client/checks/base/subdueend" }}"
    {{ else }}
        "end": "8AM UCT"
    {{ end }}
{{ end }}
      },
      "interval": {{ if exists (printf "/sensu/client/checks/base/%s/interval" .) }}{{ getv (printf "/sensu/client/checks/base/%s/interval" .) }}{{ else }}60{{ end }}
    },
{{ end }}
    "base_true": {
      "command": "/bin/true",
      "type": "standard",
      "standalone": true,
      "subscribers": [ "all" ],
      "interval": 600,
      "handle": "false"
    }
  }
}
